<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <header>
          <h3>Mystery Word</h3>
          <h3>You have {{guesses}} guesses left</h3>
          <h4>Remaining Lives: {{displayGuess}}</h4>
      </header>
        <div class="display">
          {{#letter}}
          <p>{{letters}}</p>
          {{/letter}}
        </div>
        <div class="choice">
          <form action='/trial' method='post'>
            <h1>{{completion}}</h1>
            <button type="submit" name="button">Fail Again</button>
          </form>
        </div>
    </div>
  </body>
</html>
