<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word</title>
  </head>
  <body>
     <div class="container">
       <header><h1>Trial by Combat</h1>
           <h3>You have {{guesses}} guesses before sudden death</h3>
       </header>
       <main>
         <div class="display">
           {{#trial}}
             {{.}}
           {{/trial}}
         </div>
         <div class="choice">
           <form action='/trial' method='post'>
             <input maxlength="1" type="text" name="trial" value="" placeholder="Enter Carefully">
             <button type="submit" name="button">Make a guess...if you dare</button>
           </form>
         </div>
         <div class="left">
           Remaining lives: {{displayGuess}}
         </div>
       </main>
     </div>
   </body>
</html>
