<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word</title>
  </head>
  <body>
    <h1>Would you like to play a game?</h1>
    <form method="post" action"/home">
      <label>What's your guess?</label>
      <input type="text" name="guess" id="input" placeholder="Guessbox"/>
      <button type="submit">Submit</button>

      ???
    </form>
  </body>
</html>
